@model IEnumerable<Tarefas.Web.Models.TarefaViewModel>

<table>
    <thead>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
        <th>
            
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
    </thead>
    <tbody>
        @foreach (var item  in Model){
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Titulo
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    <a asp-controller="Tarefa" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>